<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Collector's Hub</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
    <link href="https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <!-- --------------------------------------Navbar Top----------------------------------------- -->
    <nav class="navbar navbar-main navbar-fixed-top">
        <div class="header-container">
            <div id="navbar" class="navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <% if(isLoggedIn) { %>
                        <li>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                                aria-expanded="false"><%=user.username%><span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Settings</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="users/logout">Logout</a></li>
                            </ul>
                        </li>
                    <% } else { %>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="/users/login">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="/users/new">Create an Account!</a>
                        </li>
                    <% } %>
                </ul>
                <form class="navbar-form navbar-right">
                    <input type="text" class="navbar-form" placeholder="Search...">
                </form>
            </div>
        </div>
    </nav>
    <!-- ----------------------------------------Hub Name----------------------------------------- -->
    <div class="hubName">
        <nav class="navbar navbar-main" role="navigation">
            <div class="navbar-header">
                <div>
                    <div>
                        <a class="navbar-hubName" href="#">
                            Collector's Hub
                        </a>
                    </div>
                </div>
            </div>
    <!-- --------------------------------------Sidebar Tabs--------------------------------------- -->
            <div class="side-menu-container">
                <ul class="nav navbar-nav">
                    <% if(isLoggedIn) { %>
                    <li class="sibebar-button">
                        <a data-toggle="collapse" href="#dropdown-here">
                            Your Collection
                            <span class="caret"></span>
                        </a>
                        <div id="dropdown-here" class="collapse">
                            <div>
                                <ul class="nav navbar-nav">
                                    <li><a href="collections/new">Add New</a></li>
                                    <!-- <li><a href="#">Settings</a></li> -->
                                    <li><a href="collections/<%=user.id%>/edit">Edit</a></li>
                                    <li><a href="#">Comments</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="sibebar-button"><a href="users/<%=user.id%>">Profile</a></li>
                    <% } %>
                    <li class="sibebar-button"><a href="collections/showall">Collections</a></li>
                    <li class="sibebar-button"><a href="#">News</a></li>
                </ul>
            </div>
        </nav>
    </div>
    <!-- ----------------------------------------Page Body---------------------------------------- -->
    <div class="page">
        <div class="page-body">
            <section class="columns">
                <!-- make all collections appear using for loop here -->
                <article class="column-item-1">1</article>
                <article class="column-item-2">2</article>
                <article class="column-item-3">3</article>
                <article class="column-item-4">4</article>
                <article class="column-item-last">5</article>
            </section>
        </div>
    <!-- -----------------------------------------Footer------------------------------------------ -->
        <footer class="footer">
            F
        </footer>
    <!-- -----------------------------------------Scripts----------------------------------------- -->
    </div>
    <script src='https://code.jquery.com/jquery-3.1.1.min.js'></script>
    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'></script>
    <script src="main.css"></script>
</body>

</html>