<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="css/styles.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700">
<title>Login</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<body id="new-ejs-page">
  <form action="/users/login" method="POST">
      <div class="form-register" style="margin: 10% 20% 10% 20%">
              <h2 class="text-align-center">Login</h2>
              <p class="hint-text">to Access your Collections</p>
              <div class="form-group">
                  <input type="email" class="form-control" name="email" placeholder="Email" required="required">
              </div>
              <div class="form-group">
                  <input type="password" class="form-control col-xs-3" name="password" placeholder="Password" required="required">
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-lg btn-primary btn-block">Login</button>
            </div>
          </form>
          <div class="text-center">Already have an account? <a href="/users/new">Sign in</a></div>
</form>
</body>
</html>