<!DOCTYPE html>
<html lang="en">
<style>
    #button {
  display: inline-block;
  background-color: #FF9800;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s, 
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
#button::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}
#button:hover {
  cursor: pointer;
  background-color: #333;
}
#button:active {
  background-color: #555;
}
#button.show {
  opacity: 1;
  visibility: visible;
}

/* Styles for the content section */

.content {
  width: 77%;
  margin: 50px auto;
  font-family: 'Merriweather', serif;
  font-size: 17px;
  color: #6c767a;
  line-height: 1.9;
}
@media (min-width: 500px) {
  .content {
    width: 43%;
  }
  #button {
    margin: 30px;
  }
}
.content h1 {
  margin-bottom: -10px;
  color: #03a9f4;
  line-height: 1.5;
}
.content h3 {
  font-style: italic;
  color: #96a2a7;
}
</style>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/collection.css">
    <title>Collections</title>
</head>
<body>

    <% if(collections.length === 0) {%>
        <h2>There are no collections yet!</h2>
    <% } else { %> 
    <!-- ----------------------------------------Page Body---------------------------------------- -->
    <div class="page">
        <div class="page-body">
            <section class="columns-header">
                <span class="collections-title">
                    <!-- <h1 id="text">Check out some Collections</h1> -->
                    <h1 id="text">Collections</h1> 
                    <div class="box">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>         
                </span>
            </section> 
            <div class="columns">
                <% collections.forEach((collection)=>{ %>
                    <div class="column-item-1  wrapper">
                        <a href ="/collections/<%=collection._id%>">
                        <ul class="collections"> 
                        <ul class="collection-image">
                          <img src="<%=collection.img%>" alt="">
                        </ul>
                        <li class="collection-name"> <%= collection.name %></li>
                        <li><%= collection.description %></li>
                        </ul> 
                        </a>
                    </div>
                <% }) %>
                </div>
        </div>


        <!-- Back to top button -->
        <a id="button"></a>

    </div>
    
    <% } %>

    <script>
            const btn = $('#button');

        $(window).scroll(function() {
        if ($(window).scrollTop() > 300) {
            btn.addClass('show');
        } else {
            btn.removeClass('show');
        }
        });

        btn.on('click', function(e) {
        e.preventDefault();
        $('html, body').animate({scrollTop:0}, '300');
        });


    </script>
</body>
</html>