<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/collection.css">
    <title>Collections</title>
</head>
<body>

    <% if(collections.length === 0) {%>
        <h2>There are no collections yet!</h2>
    <% } else { %> 
    <!-- ----------------------------------------Page Body---------------------------------------- -->

    <div class="page">

       
        <div class="page-body">
            <section class="columns-header">
                <span>
                    <!-- <h1 id="text">Check out some Collections</h1> -->
                    <h2>Check out some </h2>
                    <h1 id="text"> Collections</h1> 
                </span>
            </section> 
            <section class="columns">
                <% collections.forEach((collection)=>{ %>
                    <article class="column-item-1">
                        <a href ="/collections/<%=collection._id%>">
                        <ul class="collections"> 
                        <li class="collection-image">IMAGE GOES HERE<%= collection.img %> </li> 
                        <li class="collection-name"> <%= collection.name %></li>
                        <li><%= collection.description %></li>
                        </ul> 
                        </a>
                    </article>
                <% }) %>
            </section>
        </div>
    </div>
    
    <% } %>

    <a href="/users">Search for users</a>
    <a href="/collections/new">Create one now!</a>
</body>
</html>