<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/style.css">
    <title>Collection Database</title>
</head>
<body>
    <h1>CREATE A NEW COLLECTION</h1>

    <form action="/collections" method="POST">
        <label for="name">Name:</label>
        <input type="text" name= "name">
        <br>
        <label for="category">Category:</label>
        <input type="text" name= "category">
        <br>
        <label for="description">Description:</label>
        <input type="text" name= "description">
        <br>
        <label for="img">Image</label>
        <input type="text" name= "img">
        <br>
        <!-- <label for="userId">UserID</label>
        <input type="Schema.Types.ObjectId" name= "userId"> -->
        <br>
        <button type="submit">Submit </button>
    </form>

    <a href="/users">Search for users</a>
    <a href="/collections/new">Create one now!</a>
    <a href="/users/profile">Visit My Profile</a>
</body>
</html>