body {
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1; 
    background: url("");
    background-color: rgba(224, 224, 224, 0.4);
} 





/* ------------------------------------------PRODUCT--------------------------------------------- */

  .wrapper {
    height: 420px;
    width: 654px;
    margin: 50px auto;
    border-radius: 7px 7px 7px 7px;
    /* VIA CSS MATIC https://goo.gl/cIbnS */
    -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
    text-align: -webkit-center;
    position: relative;
  }
  
  .product-img {
    float: center;
    height: 420px;
    width: 327px;
  }
  
  .product-img img {
    border-radius: 7px 0 0 7px;
  }
  
  .product-info {
    float: left;
    height: 420px;
    width: 327px;
    border-radius: 0 7px 10px 7px;
    background-color: #ffffff;
    position: absolute;
  }
  
  .product-text {
    height: 300px;
    width: 327px;
  }
  
  .product-text h1 {
    margin: 0 0 0 38px;
    padding-top: 52px;
    font-size: 34px;
    color: #474747;
  }
  .product-text {
    font-family: 'Bentham', serif; 
  }
  .product-text h1,
  .product-price-btn p {
    font-family: 'Bentham', serif;
  }
  
  .product-text h2 {
    margin: 0 0 47px 38px;
    font-size: 13px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    color: #d2d2d2;
    letter-spacing: 0.2em;
  }
  
  .product-text p {
    height: 125px;
    margin: 0 0 0 38px;
    font-family: 'Playfair Display', serif;
    color: #8d8d8d;
    line-height: 1.7em;
    font-size: 15px;
    font-weight: lighter;
    overflow: hidden;
  }
  
 
  
  span {
    display: inline-block;
    height: 50px;
    font-family: 'Suranna', serif;
    font-size: 34px;
  }
  


/* ------------------------------------------COLLECTIONS --------------------------------------------- */



.collections{
    display: flex;
    align-items: center;
    max-width: 100%;
    padding: 10px;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    list-style-type:none;
}


.collection-name{
    font-weight: bold;
    color: black;
}
.column-item-1 a{
    color: rgba(86, 86, 86);
    text-decoration: none;
}

.page-body {
    background-color: rgba(224, 224, 224, 0.4);
    padding-top: 75px;
    padding-bottom: 200px;
}



.column-item-1:hover{
    margin-top:-40px;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
.footer {
    height: 100px;
    align-items: center;
    color: rgba(160, 188, 189);
    flex-direction: row-reverse;
    margin-left: 200px;
    background-color: rgba(60, 60, 60);
    border: 5px solid;
    display: flex;
    justify-content: space-evenly;
    border-color: rgba(170, 173, 172);
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    font-weight: bolder;
}

.btn {
    color: rgba(160, 188, 189);
}
    /* If a screen is 600px or less wide, stack the columns on top of each other instead of next to each other */
@media screen and (max-width: 600px) {

    .page-body {
        background-color: #e0e0e066;
        padding-top: 75px;
        padding-bottom: 20px;
    }
    a {
        color: #333;
        text-align: center;
    }
    a:hover {
        color: #333;
        text-decoration: none;
        text-align: center;
    }
    span {
        justify-content: center;
        align-items: center;
    }
    
    .collections-title{
        display: flex;
        justify-content: center;
    }
    #text {
        z-index: 1;
        font-family: rockwell;
        font-weight: 600;
        font-size: 2.0rem;
        position: absolute;
        margin-top: -16px;
        display: inline;
        position: relative;
    }
    #text::before {
        background-color: rgba(122, 148, 146, 0.9);
        position: absolute;
        display: inline;
        left: -13%;
        right: -13%;
        top: 31%;
        bottom: 31%;
        margin: auto;
        box-shadow: 1px 1px 3px rgb(200, 200, 200);
        content: '';
        z-index: -1;
        }
    
    .columns {
        flex-wrap: wrap;
        display: flex;
        flex-direction: column;
        padding: 0;
        width: 63vw;
        align-content: space-around;
        margin-top: 100px;
        margin-left: 32vmin;
        margin-bottom: 50px;
        background-color: #f0f0f0f2;
        border: 2px solid;
        border-color: #aaadac;
        flex-direction: column;
    }
    .columns-header {
        flex-wrap: wrap;
        display: flex;
        flex-direction: column;
        padding: 0;
        width: 63vw;
        align-content: space-around;
        margin-top: 100px;
        margin-left: 32vmin;
        margin-bottom: 50px;
        background-color: #f0f0f0f2;
        border: 2px solid;
        border-color: #aaadac;
        flex-direction: column;
        height: 100px;
    }
   
    .columns {
        flex-wrap: wrap;
        display: flex;
        flex-direction: column;
        padding: 0;
        width: 63vw;
        align-content: space-around;
        margin-top: 100px;
        margin-left: 32vmin;
        margin-bottom: 50px;
        background-color: #f0f0f0f2;
        border: 2px solid;
        border-color: #aaadac;
        flex-direction: column;
    }
    .columns-header {
        flex-wrap: wrap;
        display: flex;
        flex-direction: column;
        padding: 0;
        width: 63vw;
        align-content: space-around;
        margin-top: 100px;
        margin-left: 32vmin;
        margin-bottom: 50px;
        background-color: #f0f0f0f2;
        flex-direction: column;
        height: 100px;
    }
    .column-item-1 {
        width: 60vw;
        margin: 22px;
        height: 265px;
        align-items: center;
        justify-content: center;
        border: 2px solid;
        border-color: #aaadac;
        background-color: #7a9492e6;
        opacity: 0.8;
        text-align: center;
        position: relative;
    }
    .column-item-1:hover{
        margin-top:-20px;
        box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    }
    .collection-image{
        border-color: rgba(170, 173, 172);
        border: 2px solid;
        height: 22vh; 
        width: inherit;
        margin-right: 25px;
        margin-left: 25px;
        display: flex;
        align-items: center;
        object-fit: cover;
        margin: 10px;
    }

    .box{
        position: absolute;
        margin-right: 100px;
        margin-left: 115px;
        margin-top: 10px;
        transform: translate(-50%, -50%);

    }
    
    .box span{
        display: block;
        width: 20px;
        height: 20px;
        border-bottom: 2px solid white;
        border-right: 2px solid white;
        transform: rotate(45deg);
        margin: -10px;
        animation: animate 2s infinite;
    }
    
    .box span:nth-child(2)
    {
    animation-delay: -0.2s;
    }
    
    .box span:nth-child(3)
    {
    animation-delay: -0.4s;
    }
    
    @keyframes animate{
    
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-20px, -20px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(20px, 20px);
    }
    }

}

/* FOR TABLET */
@media (min-width: 601px) and (max-width: 960px) {
    a {
        color: #333;
        text-align: center;
    }
    a:hover {
        color: #333;
        text-decoration: none;
        text-align: center;
    }
    span {
        justify-content: center;
        align-items: center;
    }
    
  /* ------------------------------------------HEADER--------------------------------------------- */

.columns-header {
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    padding: 0;
    width: 54vw;
    align-content: space-around;
    margin-top: 100px;
    margin-left: 43vmin;
    margin-bottom: 50px;
    background-color: #f0f0f0f2;
    border: 2px solid;
    border-color: #aaadac;
    flex-direction: column;
    height: 100px;
}
span {
    justify-content: center;
    align-items: center;
} 
.collections-title{
    display: flex;
    justify-content: center;
}
#text {
    z-index: 1;
    font-family: rockwell;
    font-weight: 600;
    font-size: 2.0rem;
    position: absolute;
    margin-top: -16px;
    display: inline;
    position: relative;
}
#text::before {
    background-color: rgba(122, 148, 146, 0.9);
    position: absolute;
    display: inline;
    left: -13%;
    right: -13%;
    top: 31%;
    bottom: 31%;
    margin: auto;
    box-shadow: 1px 1px 3px rgb(200, 200, 200);
    content: '';
    z-index: -1;
    }
     .collection-image{
        border-color: rgba(170, 173, 172);
        border: 2px solid;
        height: 200px;
        margin-right: 25px;
        margin-left: 25px;
        display: flex;
        align-items: center;
        width: inherit;
        margin: 10px;
    }

    .columns {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-left: 317px;
        margin-right: 1px;
        margin-top: 96px; 
        margin-bottom: 50px;
        background-color: rgba(240, 240, 240 ,0.95);
        border: 2px solid;
        border-color: rgba(170, 173, 172);
        padding-right: 76px;
        padding-left: 78px;
        padding-top: 0px;

    } 

    .column-item-1 {
        width: 40vw;
        /* margin-left: -42px;
        margin-bottom: 10px;
        margin-top: 10px; */
        position: relative;
        margin-right: -3px;
        margin-top: 10px;
        height: 265px;
        align-items: center;
        justify-content: center;
        border: 2px solid;
        border-color: #aaadac; 
        background-color: #7a9492e6;
        opacity: 0.8;
        text-align: center;

    }
    .column-item-1:hover{
        margin-top:-20px;
        box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    }
    .box{
        position: absolute;
        margin-right: 100px;
        margin-left: 115px;
        margin-top: -7px;
        transform: translate(-50%, -50%);
        padding-top: 10px;

    }
    
    .box span{
        display: block;
        width: 20px;
        height: 20px;
        border-bottom: 2px solid white;
        border-right: 2px solid white;
        transform: rotate(45deg);
        margin: -10px;
        animation: animate 2s infinite;
    }
    
    .box span:nth-child(2)
    {
    animation-delay: -0.2s;
    }
    
    .box span:nth-child(3)
    {
    animation-delay: -0.4s;
    }
    
    @keyframes animate{
    
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-20px, -20px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(20px, 20px);
    }
    }

}

  
@media (min-width: 960px) {
.columns {
    flex-wrap: wrap;
    align-content: flex-start;
    padding-top: 50px;
    margin-top: 100px;
    margin-left: 300px;
    margin-right: 75px;
    margin-bottom: 50px;
    background-color: rgba(240, 240, 240 ,0.95);
    border: 2px solid;
    border-color: rgba(170, 173, 172);
}  
.columns-header {
    flex-wrap: wrap;
    align-content: flex-start;
    padding-top: 50px;
    margin-top: 100px;
    margin-left: 300px;
    margin-right: 75px;
    margin-bottom: 50px;
    background-color: rgba(240, 240, 240 ,0.95);
}  
.column-item-1 {
    width: 25vw;
    margin: 15px;
    height: 300px;
    align-items: center;
    justify-content: center;
    border: 2px solid;
    border-color: rgba(170, 173, 172);
    background-color: rgba(122, 148, 146, 0.9);
    opacity: 0.8;
    text-align: center;
    object-fit: cover;
    position: relative;
}

.collection-image{
    border-color: rgba(170, 173, 172);
    border: 2px solid;
    height: 200px;
    width: inherit;
    margin-right: 25px;
    margin-left: 25px;
    display: flex;
    align-items: center;
    margin: 10px;
}

/* ------------------------------------------HEADER--------------------------------------------- */


.columns-header {
    flex-wrap: wrap;
    align-content: flex-start;
    padding-top: 50px;
    margin-top: 100px;
    margin-left: 300px;
    margin-right: 75px;
    margin-bottom: 50px;
    background-color: rgba(240, 240, 240 ,0.95);
    border: 2px solid;
    border-color: rgba(170, 173, 172);
}  
.collections-title{
    display: flex;
    justify-content: center;
    position: relative;
}
#text {
    z-index: 1;
    font-family: rockwell;
    font-weight: 600;
    font-size: 4.5rem;
    position: absolute;
    margin-top: -24px;
    display: inline;
    position: absolute;
}
#text::before {
    background-color: rgba(122, 148, 146, 0.9);
    position: absolute;
    display: inline;
    left: -13%;
    right: -13%;
    top: 31%;
    bottom: 31%;
    margin: auto;
    box-shadow: 1px 1px 3px rgb(200, 200, 200);
    content: '';
    z-index: -1;
    }

}
