body {
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1; 
    background: url("https://hosting.photobucket.com/images/v451/supratt6s/FXP_03-15-2022_at_7.29_PM.jpg");
} 
/* ------------------------------------------Nav Top and Side--------------------------------------------- */
.navbar-main {
    background-color: rgba(122, 148, 146, 0.9);
    margin-left: 200px;
    border-bottom: 1px solid;
    box-shadow: 0 0 4px #3c3c3ce6;
}
.navbar-main, .hubName .navbar-header {
    height: 75px;
    opacity: 0.9;
}
.hubName {
    width: 200px;
    background-color: #F5F7F9;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    z-index: 1;
    border-right: 1px solid;
    border-color: rgba(170, 173, 172);
    opacity: 0.9;
    box-shadow: 0 0 4px #3c3c3ce6;
}
.hubName .navbar {
    border: none;
    margin-left: 0;
    background-color: inherit;
}
.hubName .header {
    width: 100%;
    margin-bottom: 20px;
    opacity: 0.9;
}
.hubName .navbar-nav .panel {
    box-shadow: none;
    margin: 0;
    background: inherit;
    opacity: 0.9;
}
.hubName .navbar-nav li {
    display: block;
    width: 100%;
    opacity: 0.9;
}
.navbar-nav>li {
    float: left;
    margin-right: 35px;
}
.navbar-hubName {
    float: left;
    height: 50px;
    padding: 30px 15px;
    font-size: 38px;
    line-height: 20px;
    opacity: 0.9;
    color: black;
    font-family: 'Tangerine', cursive;
    text-decoration: none;
}
.navbar-hubName:hover {
    text-decoration: none;
}
.sibebar-button {
    border: 2px solid;
    border-color: rgba(170, 173, 172);
    margin: 1px;
}
.sibebar-button:hover {
    border: 2px solid;
    border-color: rgba(170, 173, 172);
    background-color: rgba(239,239,239,0.95);
    margin: 1px;
}
.dropdown-toggle {
    font-size: 20px;
    background: linear-gradient(to left, #cfb889, #fcf6ba, #ccb685, #fbf5b7, #d4ba8d, white, white, white, white, white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    transition: background-position 0.42s ease
}
.dropdown-toggle:hover {
    background-position: 100%;
}
@media (min-width: 500px) {
    .navbar-nav>li>a {
        border-color: rgba(170, 173, 172);
        color: #3c3c3ce6;
    }
}
@media (min-width: 500px) {
    .header-container>.navbar-collapse, .container-fluid>.header, .container>.navbar-collapse, .container>.header {
        margin-right: 0;
        margin-left: 0;
        padding-top: 10px;
    }
}
/* -----------------------------------------------Main Body------------------------------------------------ */
.columns, .column-item-last {
    display: flex;
    color: rgba(86, 86, 86);
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    font-weight: bolder;
}
.page-body {
    background-color: rgba(224, 224, 224, 0.4);
    padding-top: 75px;
    padding-bottom: 200px;
}
.columns {
    flex-wrap: wrap;
    align-content: flex-start;
    padding-top: 50px;
    margin-top: 100px;
    margin-left: 300px;
    margin-right: 75px;
    margin-bottom: 50px;
    background-color: rgba(240, 240, 240 ,0.95);
    border: 2px solid;
    border-color: rgba(170, 173, 172);
    box-shadow: 0 0 4px #3c3c3ce6;
}
.column-item-1 {
    width: 25vw;
    margin: 15px;
    height: 100px;
    align-items: center;
    justify-content: center;
    border: 2px solid;
    border-color: rgba(170, 173, 172);
    background-color: rgba(122, 148, 146, 0.9);
    opacity: 0.8;
    text-align: center;
    box-shadow: 0 0 4px grey;
}
.column-item-2 {
    width: 25vw;
    margin: 15px;
    height: 100px;
    align-items: center;
    justify-content: center;
    border: 2px solid;
    border-color: rgba(170, 173, 172);
    background-color: rgba(122, 148, 146, 0.9);
    opacity: 0.8;
    text-align: center;
    box-shadow: 0 0 4px grey;
}
.column-item-3 {
    width: 25vw;
    margin: 15px;
    height: 100px;
    align-items: center;
    justify-content: center;
    border: 2px solid;
    border-color: rgba(170, 173, 172);
    background-color: rgba(122, 148, 146, 0.9);
    opacity: 0.8;
    text-align: center;
    box-shadow: 0 0 4px grey;
}
.column-item-4 {
    width: 25vw;
    margin: 15px;
    height: 100px;
    align-items: center;
    justify-content: center;
    border: 2px solid;
    border-color: rgba(170, 173, 172);
    background-color: rgba(122, 148, 146, 0.9);
    opacity: 0.8;
    text-align: center;
    box-shadow: 0 0 4px grey;
}
.column-item-last {
    width: 25vw;
    margin: 15px;
    height: 100px;
    align-items: center;
    justify-content: center;
    border: 2px solid;
    border-color: rgba(170, 173, 172);
    background-color: rgba(60, 60, 60, 0.9);
    opacity: 0.8;
    text-align: center;
    box-shadow: 0 0 4px grey;
}
.footer {
    height: 100px;
    align-items: center;
    color: rgba(160, 188, 189);
    flex-direction: row-reverse;
    margin-left: 200px;
    background-color: rgba(60, 60, 60);
    border: 5px solid;
    display: flex;
    justify-content: space-evenly;
    border-color: rgba(170, 173, 172);
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    font-weight: bolder;
}

.btn {
    color: rgba(160, 188, 189);
}

@media screen and (max-width: 992px) {
    body {
        background-size: cover;
        background-repeat: no-repeat;
        z-index: -1; 
        background: url("https://hosting.photobucket.com/images/v451/supratt6s/FXP_03-15-2022_at_7.29_PM.jpg");
        }
        .navbar-main {
            background-color: #7a9492e6;
            margin-left: 40vmin;
            border-bottom: 1px solid;
        }
        .navbar-hubName {
            float: left;
            height: 50px;
            padding: 25px 10px;
            font-size: 24px;
            line-height: 20px;
            opacity: 0.9;
            color: #000;
        }
        .navbar-nav .open .dropdown-menu>li>a {
            line-height: 20px;
            background-color: #F5F7F9;
            opacity: 0.9;
        }
        .navbar-nav .open .dropdown-menu {
            position: static;
            float: none;
            width: auto;
            margin-top: 0;
            background-color: #f5f7f9;
            border: 0;
            box-shadow: none;
        }
        .navbar-nav .open .navbar-form {
            visibility: none;
        }
        .footer {
            height: 100px;
            align-items: center;
            color: #a0bcbd;
            margin: 0;
            flex-direction: row-reverse;
            background-color: #3c3c3c;
            border: 5px solid;
            display: flex;
            justify-content: space-evenly;
            border-color: #aaadac;
            font-family: 'Times New Roman', Times, serif;
            font-size: 25px;
            font-weight: bolder;
        }
        .page-body {
            background-color: #e0e0e066;
            padding-top: 75px;
            padding-bottom: 20px;
        }
        a {
            color: #333;
            text-align: center;
        }
        a:hover {
            color: #333;
            text-decoration: none;
            text-align: center;
        }
        .hubName {
            width: 40vmin;
            font-size: 3.5vmin;
            background: linear-gradient(180deg, #f5f7f9 0%, #fff 100%);
            position: fixed;
            height: 110vmin;
            border-right: 1px solid;
            border-color: #aaadac;
            opacity: 0.9;
        }
        .hubName .navbar-nav li {
            display: block;
            width: 38vmin;
            opacity: 0.9;
        }
        .columns {
            flex-wrap: wrap;
            display: flex;
            padding: 0;
            width: 63vw;
            align-content: space-around;
            margin-top: 100px;
            margin-left: 60vmin;
            margin-bottom: 50px;
            background-color: #f0f0f0f2;
            border: 2px solid;
            border-color: #aaadac;
            flex-direction: column;
        }
        .column-item-1 {
            width: 55vw;
            margin: 15px;
            height: 100px;
            align-items: center;
            justify-content: center;
            border: 2px solid;
            border-color: #aaadac;
            background-color: #7a9492e6;
            opacity: 0.8;
            text-align: center;
        }
        .column-item-2 {
            width: 55vw;
            margin: 15px;
            height: 100px;
            align-items: center;
            justify-content: center;
            border: 2px solid;
            border-color: #aaadac;
            background-color: #7a9492e6;
            opacity: 0.8;
            text-align: center;
        }
        .column-item-3 {
            width: 55vw;
            margin: 15px;
            height: 100px;
            align-items: center;
            justify-content: center;
            border: 2px solid;
            border-color: #aaadac;
            background-color: #7a9492e6;
            opacity: 0.8;
            text-align: center;
        }
        .column-item-4 {
            width: 55vw;
            margin: 15px;
            height: 100px;
            align-items: center;
            justify-content: center;
            border: 2px solid;
            border-color: #aaadac;
            background-color: #7a9492e6;
            opacity: 0.8;
            text-align: center;
        }
        .column-item-last {
            width: 55vw;
            margin: 15px;
            height: 100px;
            align-items: center;
            justify-content: center;
            border: 2px solid;
            border-color: #aaadac;
            background-color: #7a9492e6;
            opacity: 0.8;
            text-align: center;
        }
    }
      /* If a screen is 600px or less wide, stack the columns on top of each other instead of next to each other */
    @media screen and (max-width: 500px) {
        body {
        background-size: cover;
        background-repeat: no-repeat;
        z-index: -1; 
        background: url("https://hosting.photobucket.com/images/v451/supratt6s/FXP_03-15-2022_at_7.29_PM.jpg");
        }
        .navbar-main {
            background-color: #7a9492e6;
            margin-left: 35vmin;
            border-bottom: 1px solid;
        }
        .navbar-hubName {
            float: left;
            height: 50px;
            padding: 25px 10px;
            font-size: 24px;
            line-height: 20px;
            opacity: 0.9;
            color: #000;
        }
        .navbar-nav .open .dropdown-menu>li>a {
            line-height: 20px;
            background-color: #F5F7F9;
            opacity: 0.9;
        }
        .navbar-nav .open .dropdown-menu {
            position: static;
            float: none;
            width: auto;
            margin-top: 0;
            background-color: #f5f7f9;
            border: 0;
            box-shadow: none;
        }
        .navbar-nav .open .navbar-form {
            visibility: none;
        }
        .footer {
            height: 100px;
            align-items: center;
            color: #a0bcbd;
            margin: 0;
            flex-direction: row-reverse;
            background-color: #3c3c3c;
            border: 5px solid;
            display: flex;
            justify-content: space-evenly;
            border-color: #aaadac;
            font-family: 'Times New Roman', Times, serif;
            font-size: 25px;
            font-weight: bolder;
        }
        .page-body {
            background-color: #e0e0e066;
            padding-top: 75px;
            padding-bottom: 20px;
        }
        a {
            color: #333;
            text-align: center;
        }
        a:hover {
            color: #333;
            text-decoration: none;
            text-align: center;
        }
        .hubName {
            width: 35vmin;
            font-size: 3.5vmin;
            background: linear-gradient(180deg, #f5f7f9 0%, #fff 100%);
            position: fixed;
            height: 110vmin;
            border-right: 1px solid;
            border-color: #aaadac;
            opacity: 0.9;
        }
        .hubName .navbar-nav li {
            display: block;
            width: 38vmin;
            opacity: 0.9;
        }
        .columns {
            flex-wrap: wrap;
            display: flex;
            padding: 0;
            width: 63vw;
            align-content: space-around;
            margin-top: 100px;
            margin-left: 36vmin;
            margin-bottom: 50px;
            background-color: #f0f0f0f2;
            border: 2px solid;
            border-color: #aaadac;
            flex-direction: column;
        }
        .column-item-1 {
            width: 55vw;
            margin: 15px;
            height: 100px;
            align-items: center;
            justify-content: center;
            border: 2px solid;
            border-color: #aaadac;
            background-color: #7a9492e6;
            opacity: 0.8;
            text-align: center;
        }
        .column-item-2 {
            width: 55vw;
            margin: 15px;
            height: 100px;
            align-items: center;
            justify-content: center;
            border: 2px solid;
            border-color: #aaadac;
            background-color: #7a9492e6;
            opacity: 0.8;
            text-align: center;
        }
        .column-item-3 {
            width: 55vw;
            margin: 15px;
            height: 100px;
            align-items: center;
            justify-content: center;
            border: 2px solid;
            border-color: #aaadac;
            background-color: #7a9492e6;
            opacity: 0.8;
            text-align: center;
        }
        .column-item-4 {
            width: 55vw;
            margin: 15px;
            height: 100px;
            align-items: center;
            justify-content: center;
            border: 2px solid;
            border-color: #aaadac;
            background-color: #7a9492e6;
            opacity: 0.8;
            text-align: center;
        }
        .column-item-last {
            width: 55vw;
            margin: 15px;
            height: 100px;
            align-items: center;
            justify-content: center;
            border: 2px solid;
            border-color: #aaadac;
            background-color: #7a9492e6;
            opacity: 0.8;
            text-align: center;
        }
    }